.btn {
  text-decoration: none;
  color: white;
  background-color: var(--color-background-light);
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  border-radius: 20px;
  transition: background-color 0.1s ease-in-out;
  display: inline-flex;
  gap: 1rem;
  border: none;
  font: inherit;
  font-size: 1.4rem !important;
  &:hover {
    background-color: var(--color-hover);
  }
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-background);
  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
  &:hover {
    background-color: var(--color-white-dark);
  }
}

.frosted-glass {
  background-color: transparent;
  backdrop-filter: blur(10px) brightness(0.5);
}

.dropdown-list {
  list-style: none;
}

.dropdown-item {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  margin-bottom: 1rem;

  &:hover .dropdown-item--link {
    color: var(--color-primary);
  }
}

.dropdown-item--link {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-out;
}
