.btn {
  text-decoration: none;
  color: white;
  background-color: var(--color-background-light);
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  border-radius: 20px;
  transition: background-color 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  font-family: 'Product Sans Regular' !important;
  font-size: 1.4rem !important;
  letter-spacing: normal !important;
  display: flex !important;
  &:hover {
    background-color: var(--color-hover);
  }
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-background);
  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
  &:hover {
    background-color: var(--color-white-dark);
  }
}

.frosted-glass {
  background-color: transparent;
  backdrop-filter: blur(10px) brightness(0.5);
}

.dropdown-list {
  list-style: none;
}

.dropdown-item {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  margin-bottom: 1rem;

  &:hover .dropdown-item--link {
    color: var(--color-primary);
  }
}

.dropdown-item--link {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-out;
}

.header-tiles {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--color-background-light);
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.2s;
}

.header-tile--number {
  font-size: 3rem;
  font-weight: 700;
}

.header-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  border-bottom: 2px solid #333;
  text-align: center;
  font-size: 2rem;
  background-color: var(--color-background-light);
  padding: 2rem;
}

.table td {
  justify-content: center;
  border-bottom: 1px solid #333;
  padding: 1rem;
  text-align: center;
}

.table td:last-child {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
